section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

section form {
  display: flex;
  flex-direction: column;
}

section textarea {
  max-width: 330px;
  width: 100%;
  height: 250px;
  padding: 12px 20px;
  border: 2px solid #ccc;
  border-radius: 30px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  margin: auto;
  margin-bottom: 2rem;
}

section form input[type="submit"] {
  max-width: 330px;
  width: 100%;
  background-color: rgb(135, 251, 181);
  border: none;
  padding: 1rem 3rem;
  margin: auto;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 900;
  color: rgb(0, 128, 163);
  cursor: pointer;
  transition: all ease 0.3s;
}

section form input[type="submit"]:hover {
  background-color: rgb(0, 201, 80);
  color: rgb(205, 243, 253);
}

section .result {
  display: flex;
  flex-direction: column;
  max-width: 330px;
  width: 100%;
}

section .result span {
  font-weight: 700;
  max-width: 330px;
  width: 100%;
}

section .result .error-message {
  text-align: center;
  color: red;
  background-color: #fdd8d8;
  border-radius: 30px;
  padding: 0.5rem 0;
}
