main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(172, 82, 192);
  max-height: 100svh;
  color: rgb(148, 234, 255);
}

@media only screen and (max-width: 499px) {
  main {
    height: 100svh;
    padding: 2rem 2rem;
  }
}

@media (min-width: 500px) {
  main {
    width: 400px;
    padding: 2rem;
    margin: 10svh auto;
    border-radius: 50px;
    box-shadow: 5px 2px 2px 2px rgba(0, 0, 0, 0.1);
  }
}

main h1 {
  margin-bottom: 2rem;
}